<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    

    <img class="background-img" src="./images/homepagebg.svg" alt="homepage-bg">

    <div class="title-container">

        <h1 class="title">Clothing Tracker</h1>
        <div class="btn-design">
            <a class="link" href="/clothes">View Inventory</a>
        </div>
    </div>
   
   
</body>
</html> 